A:link {text-decoration: none; color:#09F;}
A:visited {text-decoration: none; color:#09F;}
A:active {text-decoration: none; color:#F0C;}
A:hover {text-decoration: underline; color:#F63;}

body {
	font-size:16px;
	font-family:"宋体";
	line-height:20px;
<<<<<<< HEAD

=======
	
>>>>>>> origin/master
}/*总体样式*/
p {
	font-size:16px;
	font-family:"宋体";
	line-height:20px;
<<<<<<< HEAD
=======
	
>>>>>>> origin/master
}/*总体样式*/

.titlecss {
	font-family:"黑体";
	font-weight:bold;
	font-size:24px;
}/*标题样式*/

.aaa {
	font-size:14px;
}

.aaa1 {
	font-size:14px;
	color:#39F;
}

.aaa2 {
	font-size:14px;
	color:#663;
}

.aaNeiGong ,
.abNeiGong {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#99C;
}

.aaQingGong,
.abQingGong {
	font-family: "微软雅黑";
	font-weight:bold;
	font-size: 16px;
	color: #999;
}

.aaQuanZhang,
.abQuanZhang {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#F00;
}

.aaYuJian,
.abYuJian {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#C4C400;
}

.aaBingQi ,
.abBingQi {
	font-family:"微软雅黑";
	font-size:16px;
	font-weight:bold;
	color:#3C0;
}

.aaZhiTui,
.abZhiTui {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#09C;
}

.aaAnDu,
.abAnDu {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#3A006F;
}

.abEat {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#0C9;
}

.abZhuangBei {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#900;
}

.abImportant {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#F6C;
}

.abQiTa {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#F99;
}

.aaChengHao,
.aaTianFu {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#F60;
}

.bstress {
	font-weight:bold;
	font-size:17px;
}

.bstressred {
	font-weight:bold;
	font-size:16px;
	color:#F00;
}

.bstressredd {
	font-weight:bold;
	font-size:12px;
	color:#F00;
}/*括号红字小*/

.bname {
	color:#F3F;
}

.bplace {
	font-weight:bold;
	color:#F00;
}/*地点名称*/

.acstatchange {
	font-weight:bold;
	color:#66C;
}/*人物状态变化*/

.acombatChar ,
.acombat {
	text-decoration:underline;
	font-weight:500;
}/*战斗*/

.aname{

}/*无修改样式的人物类别标签，查询用*/

.abTianShu {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	color:#C90;
}

.acRuDui {
	font-weight:bold;
	color:#93f;
}/*队友入队*/

