A:link {text-decoration: none; color:#09F;}
A:visited {text-decoration: none; color:#09F;}
A:active {text-decoration: none; color:#F0C;}
A:hover {text-decoration: underline; color:#F63;}

body {
	font-size:16px;
	font-family:"宋体";
	line-height:20px;
	
}

.titlecss {
	font-family:"黑体";
	font:bold;
	font-size:24px;
}

.aaa {
	font-size:14px;
}

.aaa1 {
	font-size:14px;
	color:#39F;
}

.aaa2 {
	font-size:14px;
	color:#663;
}

.aaNeiGong ,
.abNeiGong {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#9CF;
}

.aaQingGong,
.abQingGong {
	font-family: "微软雅黑";
	font: bold;
	font-size: 16px;
	color: #889A80;
}

.aaQuanZhang,
.abQuanZhang {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#F00;
}

.aaYuJian,
.abYuJian {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#CC0;
}

.aaBingQi ,
.abBingQi {
	font-family:"微软雅黑";
	font-size:16px;
	font:bold;
	color:#3C0;
}

.aaZhiTui,
.abZhiTui {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#39F;
}

.aaAnDu,
.abAnDu {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#90F;
}

.abEat {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#0C9;
}

.abZhuangBei {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#900;
}

.abImportant {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#F6C;
}

.abQiTa {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#F99;
}

.aaChengHao,
.aaTianFu {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#F60;
}

.bstress {
	font:bold;
	font-size:17px;
}

.bstressred {
	font:bold;
	font-size:16px;
	color:#F00;
}

.bstressredd {
	font:bold;
	font-size:12px;
	color:#F00;
}

.bname {
	color:#F3F;
}

.bplace {
	font:bold;
	color:#F00;
}

.acstatchange {
	font:bold;
	color:#66C;
}

.acombat {
	text-decoration:underline;
	font:bold;
}

.abTianShu {
	font-family:"微软雅黑";
	font:bold;
	font-size:16px;
	color:#C90;
}

.acRuDui {
	font:bold;
	color:#639;
}

.tooltip {
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCCCCC;
	background-color: #000000;
	padding: 5px;
	max-width: 300px;
	opacity: 0.8;
	font-family: "微软雅黑";
	font-size: 10px;
	text-align: left;
	overflow-y: visible;
	overflow-x: visible;
	min-width: 150px;
	line-height: 14px;
	color: #FFFFFF;
}

.gtip2 {
	position: fixed;
	font-size: 12px;
	height:14px;
	width:100%;
	left:0px;
	top:0px;
	opacity: 0.8;
}

#sddm
{
	margin: 0 auto;
	padding: 0;
	z-index: 30;
	height: 14px;
	position:fixed;
}

#sddm li
{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 12px arial;
	height: 14px;
	}

#sddm li a
{	display: block;
	margin: 0 0px 0 0;
	padding: 4px 10px;
	width: auto;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	height:14px;
	}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 0px solid #5970B2;
	height:14px;
	}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 12px arial;
		height:14px;}

	#sddm div a:hover
	{	background: #49A3FF;
		color: #FFF}
